<!-- views/account/default.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Management</title>
</head> 
<link rel="stylesheet" type="text/css" href="/css/class.css">
<body>
    <h1>You're logged in</h1>
</body>
</html>
